<html>
 <head>
   <script src="/Socket.IO/socket.io.js"></script>
   <script>
       var socket = new io.Socket();
       socket.connect();
       socket.on('connect', function(){ 
           console.log('connected') 
       });
       socket.on('message', function(){ console.log('message') })
       socket.on('disconnect', function(){ console.log('disconnect') })
       
       document.onkeydown = function(e) {
           var direction;
           if (e.keyCode == 37) { // Left
               direction = 'left';
           } else if (e.keyCode == 38) { // Up
               direction = 'up';
           } else if (e.keyCode == 39) { // Right
               direction = 'right';
           } else if (e.keyCode == 40) { // Down
               direction = 'down';
           }
           socket.send('player <%= player %>: ' + direction);
       }
       
   </script> 
   <style type="text/css" media="screen">
   .ctrls { position: relative; width: 300px; height: 200px; border: 1px solid black; }
   input { position: absolute; display: block; width: 50px; height: 50px; padding: 20px; }
    #up { top: 0; left: 50px; padding: 20px; }
    #down { top: 100px; left: 50px; }
    #left { top: 50px; left: 0; }
    #right { top: 50px; left: 100px; }
   </style>
  </head>
  <body>
    <div class="ctrls">
      <input cls="but" type="button" value="Up" id="up">
      <input cls="but" type="button" value="Down" id="down">
      <input cls="but" type="button" value="Left" id="left">
      <input cls="but" type="button" value="Right" id="right">
     </div>
  </body>
</html>
