<form action="player" method="GET">
    <label>Player: 
        <select name="player">
            <option id="1">1</option>
            <option id="2">2</option>
            <option id="3">3</option>
            <option id="4">4</option>
        </select>
    </label>
    <br/>
    <label>Name: <input type="text" name="name"></label>
    <br/>
    <input type="submit" value="Start" />
</form>
