<html>
 <head>
 <script src="/Socket.IO/socket.io.js"></script>
  <script type="application/javascript" src="game.js"></script>
  <script type="application/javascript" src="player.js"></script>
  <script type="application/javascript">
    function initTron() {
          game = new Game({multiplier: 1});

          // game.addPlayer({
          //     name: 'Nick',
          //     x: 50,
          //     y: 50,
          //     color: '#f00'
          // });

          // game.addPlayer({
          //     name: 'James',
          //     x: 100,
          //     y: 50,
          //     color: '#090'
          // });
          
          var socket = new io.Socket();
          socket.connect();
          socket.on('connect', function(){ 
              console.log("Connected")
              socket.send('GAME')
          })
          socket.on('message', function(msg){ 
              var keyMatch = msg.match(/^player (p[0-9]+): ([a-z]+)/i);
              var disconnectMatch = msg.match(/^disconnect: (p[0-9]+)/);
              var playerMatch = msg.match(/^new player (p[0-9]+): ([a-z]+)/i);
              console.log('MSG', msg)
              if(msg == 'GAME') {
                  // console.log("Starting game...")
                  game.start();
              } else if (keyMatch) {
                  // console.log('Key match: ', msg)
                  game.move(keyMatch[1], keyMatch[2]);
              } else if (disconnectMatch) {
                  // console.log('Disconnect: ', msg)
                  game.removePlayer(disconnectMatch[1]);
              } else if (playerMatch) {
                  // console.log("TRON New player", playerMatch);
                  
                  
                  game.addPlayer(playerMatch[1], {
                      name: playerMatch[2]
                  });
                  
                  game.reset();
                  
              } else {
                  console.log('dunno')
              }
          })
          socket.on('disconnect', function(){ console.log('disconnect') })

          // document.onkeydown = function(e) {
          //     game.key(e.keyCode);
          // }
     }
  </script>
 </head>
 <body onload="initTron();">
     <div style="font-size: 3em;">http://172.17.24.67:3000</div>
 </body>
</html>